@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Raleway:wght@400;500;700&display=swap');

/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    border: none;   
    outline: none;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
}

p{
    font-family: 'Raleway', sans-serif;
}

.wrapper{
    width: 100%;
    margin: auto;
}

.nav{
    overflow: auto;
    width: 85%;
    margin: 1em auto;
}

.nav h1{
    font-size: 2em;
    width: 50%;
    float: left;
}

.nav h1 a{
    color: #96746b;
    text-decoration: none;
    text-transform: uppercase;
}

.nav ul{
    width: 50%;
    float: left;
    text-align: right;
    margin-top: 1em;
}

.nav ul li{
    display: inline;
    margin-left: 1em;
}

.nav ul li a{
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #312a26;
}

/* banner section */
.banner{
    width: 100%;
    height: 670px;
    background-color: brown;
    background-image: url(../images/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner-text{
    width: 45%;
    position: absolute;
    top: 50%;
    left: 7.5%;
    transform: translateY(-50%);
}

.banner-text h2{
    font-size: 4em;
    text-transform: uppercase;
    color: #c7a17a;
}

.banner-text h2 span{
    color: #96746b;
}

.banner-text p{
    color: #ffffff;
}

.banner-text a{
    padding: 1em;
    background-color: #312a26;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    margin-top: 1em;
    display: inline-block;
}

/* ads section */
.ads{
    overflow: auto;
    width: 85%;
    margin: 4em auto;
}

.ads-items{
    height: 350px;
    width: 48.5%;
    float: left;
    background-size: cover;
    background-position: center;
    position: relative;
}

.ads-item1{
    background-image: url(../images/ads-img1.jpg);
    margin-bottom: 3%;
    margin-right: 3%;
}

.ads-item2{
    background-image: url(../images/ads-img2.jpg);
}

.ads-text{
    width: 40%;
    top: 30%;
    left: 10%;
    position: absolute;
}

.ads-text h3{
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1.2em;
    text-shadow: 3px 3px 6px #312a26;
    color: #ffffff;
}

.ads-text a{
    color: #ffffff;
    text-shadow: 3px 3px 6px #312a26;
    text-transform: uppercase;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    margin-top: 1em;
    display: inline-block;
}

form input[type="submit"]
{
    background-color: #c7a17a;
    font-weight: 700;
    text-transform: uppercase;
}

form input,
form label,
form select,
form textarea
{
    font-family: 'Raleway',san-sarif;
    display: inline-block;
    width: 100%;
    padding: 1em;
    margin-bottom:1em ;
}



/* FOOTER SECTION */
.footer{
    background-image: url(../images/footer-img.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.footer-contents{
    width: 85%;
    margin: auto;
    overflow: auto;
}

.footer-widgets{
    width: 24.25%;
    float: left;
    margin-right: 1%;
}

.footer-widgets:nth-child(4){
    margin-right: 0;
}

.footer-widgets h3{
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 1em;
}

.footer-contents h4{
    color: #ffffff;
}

.footer-widgets p{
    color: #c7a17a;
}

.footer-widgets th,td{
    color: #ffffff;
    font-family: 'Raleway',sans-serif;
    text-shadow: 3px 3px 6px #312a26;
}

.footer-form *{
    width: auto;
}

.footer-social{
    background-color: #19100f;
    padding: 1em 7.5%;
    color: #ffffff;
    overflow: auto;
}

.social-widget{
    width: 32.66%;
    text-align: center;
    float: left;
}

.social-widget img{
    width: 1.5em;
}

.social-widget h3{
    text-transform: uppercase;
}